p
{
    padding-right: 20px;
}
h1
{
    color:#130591;
    font-size: 15;
}
body
{
     background-color: #BEDAE8;
}
.center
{
    text-align: center;
}
button
{
    padding-top: 5px;
    padding-bottom: 5px;
}