{% extends "layout.html" %}

{% block main %}
<div class = "solid">
<div align = left>
<h1>Awards</h1>
<p>

        <h2>Academic Achievements</h2>
        <h3>Sentinel Excellence Award for Mathematics</h3>
        <p>During the Sentinel Awards Woodbridge High School teachers select students for academic achievement, class participation, student citizenship, and perseverance.
        Sentinel Award winners represent the <b>top 3%</b> of academic achievement at Woodbridge High School.
        I was chosen by my math teacher to receive this award in May 2020. </p>


       <h3>NCWIT Aspirations for Computer Science Honorable Mention</h3>
        <p>The NCWIT Award for Aspirations awards high school girls for their computing-related achievements and interests. Award recipients are selected based on their aptitude and aspirations in technology
        and computing, as demonstrated by their
        computing experience, computing-related activities, leadership experience, tenacity in the face of barriers to access, and plans for post-secondary education.
        I received this award in April 2019.
        </p>


    <img src = "/static/beckman5_Original.jpg" style = "float: right; width: 700px; height: 350px; padding-left:50px;"/>
        <h2>Athletic Awards</h2>
        <ul>
        <li>Best Defensive Player Award</li>
        <li>Most Improved Player Award</li>
        <li>2x Scholar Athlete</li>
        <li>2x Athletic Excellence Award</li>
        <li>2x California Interscholastic Federation Award</li>
        </ul>

</br>
</br>
</br>
</br>
</br></br>
</br>
</br>
</br>
</br>
<h1 > Certifications</h1>

    <h3>CompTIA IT Fundamentals</h3>
     <img src = "/static/comptiacert.png" style = "float: right; width: 600px; height: 375px; padding-left:50px; display:inline;" />
    <p>
    Passed certification test for the following skills:
    <ul>
        <li>Knowledge and application of features and functions of common operating systems and establishing network connectivity</li>
        <li>Ability to identify common software applications and their purpose</li>
        <li>Knowledge of security and web browsing best practices</li>
    </ul>
    </br></br></br></br></br></br></br></br>
</p>
</div>
</div>

{% endblock %}