{% extends "layout.html" %}

{% block main %}
<div class = "solid">

<div align = left>
<h1>Computer Science</h1>
<p>
    I have experience with the following programming languages:
    <ul>
        <li>Java</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Flask</li>
        <li>PHP</li>
        <li>C</li>
        <li>SQL</li>
        <li>Python</li>
        <li>Swift</li>
        <li>Visual Basic</li>

    </ul>

    <p>In order to learn these programming languages and facilitate my learning of computer science, I took several computer programming classes and
    taught myself with online resources.
    </p>

</p>

<h3>Introduction to Computer Programming</h3>
<p>As part of the Introduction to Computer Programming Class at Woodbridge High School, I learned a variety of programming languages such as Visual Basic, HTML, and Java.
I also learned and applied elements of programming, robotics, algorithms for various tasks.
</p>
</br>
<p>I am in the process of completing the following classes:</p>
<h3>CS 1 - Introduction to Computer Systems at Irvine Valley College</h3>
<p>Introduction to Computer Systems taught at Irvine Valley College provides an overview of computer information systems and introduces hardware, software, networking, and Internet terminology.
The course introduces Windows and Microsoft Office software, focusing particularly on spreadsheet and database applications. It also introduces program development and programming languages.
Students write and execute elementary programs in Visual Basic.</p>
<h3>Harvard CS50x</h3>
<p>CS50 is an entry-level course taught by David J. Malan at Harvard University. CS50x is a self-paced class that includes recorded lectures from Harvard and the same problem sets Harvard students are assigned.
Languages taught include C, PHP, and JavaScript plus SQL, CSS, and HTML. Problem sets are inspired by real-world domains of biology, cryptography, finance, forensics, and gaming.
Students learn how to think algorithmically and solve programming problems efficiently while exploring concepts like abstraction, algorithms, data structures, encapsulation, resource management,
security, software engineering, and web development. This website was created as the final project of this course.
</p>

</br>
</br>
<a id = "basketball" />
<h1>Basketball</h1>

<img class = "theimage" src = "/static/DSC02523_Original.jpg" style = "float: right; width: 700px; height: 400px; padding-left: 20px;"/>
<p>Ever since 7th grade, basketball has been a huge part of life.
I have competed in tournaments throughout California.
As a scholar athlete, I
have learned how to manage 14 hours of practice per week with several AP and honors
classes. Basketball has also taught me valuable leadership and communication skills.</p>



<h1 style = "display: inline">Computer Graphics</h1>
<p>I have experience with using the following computer graphics programs:
<ul>
    <li>Video Editing with Adobe Premiere Pro</li>
    <li>Photo Editing with Adobe Photoshop</li>
    <li>Graphic Design with Adobe Illustrator & Adobe Animate</li>

</ul>
</p>
<h3>Digital Media Arts</h3>
<p>In my digital media arts class, I learned art elements and principles of design. I also explored and applied fundamental design concepts using programs such as Adobe Illustrator, Premiere, and Photoshop.</p>
</div>
</div>
{% endblock %}