{% extends "layout.html" %}

{% block main %}
<div class = "solid">
<div align = "left">
<h1>Club Positions</h1>
<h2>Warrior Unified - <i>President</i></h2>
<img src = "/static/website-warrior_unified.jpg" style = "float: right; width: 600px; height: 400px; padding-left:50px;"/>
<p>Warrior Unified was created to combine individuals with and without intellectual disabilities for
sports and fitness activities and to promote social inclusion. Woodbridge High School students volunteer with special needs students and participate in sports together.

</p>

<h2>Girls Who Code - <i>Vice President</i></h2>
<p>The purpose of Girls Who Code is to inspire, educate, and equip girls with the computing skills to pursue 21st century opportunities.
Our goal is to reach gender parity in computing fields. We believe this is paramount to ensure the economic prosperity of women, families,
and communities across the globe, and to equip citizens with the tools for innovation and social change. We believe that more girls exposed
to computer science at a young age will lead to more women working in the technology and engineering fields.</p>

</br>
</br>
<a id = "athletic" />
<h1>Athletic Leadership</h1>
<h2>Varsity Girl's Basketball - <i>Team Captain</i></h2>
<img src = "/static/basketball_closeup.JPG" style = "float:right; width: 500px; height: 300px;" />
I have been a starter on Woodbridge High School's Varsity Girl's Basketball team since I was a freshman. For the 2020-2021 school year I have been
chosen as the captain of the team.
</br>
</br>
<h2>South Lake Middle School Hoops Classic Basketball Team - <i>Coach</i></h2>
As coach of South Lake Middle School's Hoops Classic team, I organized multiple tryouts to select team members, led bi-weekly practices for
the team, and served as a coach in the district-wide two day IUSD Hoops Classic Tournament. I have been selected as coach for the past two years.
</br>
</br>
</br>
<a id = "school" />
<h1>School Government</h1>
<h2>Student Advisory Council - <i>Member</i></h2>
As a member on the student advisory council representing Girl's Basketball, I decide how to fairly budget money among the various athletic
programs at Woodbridge High School. The council reviews and approves all athletic equipment expenditure and provides input into the
equipment needs of each high school sport.

</div>
</div>
{% endblock %}